body, html {
  width: 100%;
  height: 100%;
  font-family: Apple Chancery, cursive;
  margin: 0 auto;
  display: block;
  text-align: center;
  background-image: url("/images/white-wood.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.container, h1 {
  width: 80%;
  max-width: 600px;
  min-width: 400px;
  padding: 10px;
  margin: 10px auto;
}

img {
  box-sizing: border-box;
  border: 2px solid #333;
}

h4 {
  width: fit-content;
  display: inline-block;
  padding: 5px;
  margin: 20px 0 0 0;
  background: linear-gradient(to right, #FFF, #000)
}

.amiable {
  border: 1px solid #22aa44;
  box-shadow:  -1px 1px #22aa44, -2px 2px #22aa44, -3px 3px #22aa44, -4px 4px #22aa44, -5px 5px #22aa44;
  background-color: #44cc66;
}

.indifferent {
  border: 1px solid #aaaa00;
  box-shadow:  -1px 1px #aaaa00, -2px 2px #aaaa00, -3px 3px #aaaa00, -4px 4px #aaaa00, -5px 5px #aaaa00;
  background-color: #dddd22;
}

.dubious {
  border: 1px solid #aa2222;
  background-color: #dd4444;
  box-shadow:  -1px 1px #aa2222, -2px 2px #aa2222, -3px 3px #aa2222, -4px 4px #aa2222, -5px 5px #aa2222;
}

.column {
  width: 30%;
  display: inline-block;
}

.small {
  width: 100%;
  height: 100%;
  border-style: solid;
}

.med {
  width: 201.5%;
  height: 201.5%;
  border-style: solid;
}

.large {
  width: 303%;
  height: 303%;
  border-style: solid;
}
